#include "AVSSStrings.h"

STRINGTABLE
BEGIN
IDS_COPYRIGHT,
        "© Константин Дураев (Уральская Сталь, ЦВТС)|@P3tr0viCh@mail.ru"
IDS_COPYRIGHT_STATUS,
        "© Константин Дураев"
IDS_MAIN_CAPTION,
        "%s вер. %s"

IDS_TEXT_RECORD_COUNT,
        "Количество записей: %d"
IDS_TEXT_RECORD_NUM,
        "Номер записи: %d"

IDS_ERROR_DATASET_EMPTY,
        "Пустой набор данных"
IDS_ERROR_DATASET_SAVE,
        "Не удалось сохранить данные в файл:\n\n%s"

IDS_MYSQL_CONNECTION,
        "DRIVER={MySQL ODBC 8.0 Unicode Driver}; SERVER=%s; PORT=%s; DATABASE=%s; USER=%s; PASSWORD=%s; OPTION=3;"

END
